.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 146.72px;
}

@media screen and (max-width: 767.5px) {
  .popup {
    top: 72.62px
  }
}