.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: 'Inter', 'Arial', 'Helvetica';
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  font-style: normal;
}

.popup__input:focus {
  outline: none;
}