.popup__container {
  width: 430px;
  height: 330px;
  color: #000;
  background-color: #fff;
  padding: 34px 36px 0;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767.5px) {
  .popup__container {
    width: 282px;
    height: 322px;
    padding: 25px 22px 0;
  }
}