.popup__save {
  padding: 0;
  min-height: 50px;
  background-color: #000;
  font-size: 18px;
  line-height: 1.21;
  color: #fff;
  border: none;
  border-radius: 2px;
}

.popup__save:hover {
  opacity: .8;
}

@media screen and (max-width: 767.5px) {
  .popup__save {
    min-height: 46px;
    font-size: 14px;
  }
}